$assetPath : "src/img/";

// font
$font-heading: 'Vanguard CF', sans-serif;
$font-primary: 'Lato', sans-serif;

$color-primary: #F9DF08;
$color-secondary: #31B768;
$color-secondary-alt: #090A0F;
$color-secondary-alt2: #F12469;
$color-secondary-alt3: #725345;

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #3C404B;

$color-gray: #EFEFEF;

