//
// login-form
//
#fc-login-form {

	.row {

	}

	.form-group {
		margin-bottom: 18px;

		> label {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 12px;
			font-family: $font-primary;
		}

		> input {

		}
	}

	.btn {
		margin-top: 30px;
		border-radius: 0;
		min-width: 170px;
	}
}